@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent body overflow */
body {
  margin: 0;
  overflow-x: hidden;
}

/* Apply animation to icons with smooth transition */
.icon-animate {
  transition: transform 0.6s ease; /* Adjust duration for smooth scaling */
}

/* Hover effect to grow icon size smoothly */
.icon-animate:hover {
  transform: scale(1.2); /* Increase scale for hover effect */
}
